// Screen
$desktop: 1440px;
// $desktop: 1024px;
$tablet: 768px;
$mobile: 420px;

// Basic Layout
$margin-basic: 0 auto;

// Fonts
$font-forum: 'Forum', cursive;
$font-roboto: 'Roboto', sans-serif;

// Font-sizes
$roboto-big: 32px;
$roboto-middle: 28px;
$roboto-btn: 24px;
$roboto-small: 22px;
$roboto-smaller: 18px;

$robotoline-big: 38px;
$robotoline-middle: 33px;
$robotoline-btn: 28px;
$robotoline-small: 26px;
$robotoline-smaller: 21px;

// Colors
$dark-bg: #030303;
$red-bg: #710707;
$gold-bg: #9d8665;
$gold: #9d8665;
$gold-active: #7E6C51;
$dark: #000000;
$light: #ffffff;