.explore-section {

    .wrapper {
        @include flex($align-items: flex-start);
        column-gap: 60px;
    }

    .explore-info {
        width: calc(100% - 720px - 60px);
        min-width: 420px;
    }

    .section-title__wrapper {
        margin-bottom: 104px;
    }

    .explore-info__txt-wrapper {
        margin-bottom: 26px;

        &:nth-of-type(2) {
            width: 92%;
        }

        &:last-of-type {
            margin-bottom: 0;
        }

        .explore-info__txt {
            margin: 0;
            @include roboto-font($color: $light);
            font-weight: 300;
            font-size: $font-small;
            line-height: $fontline-big;
            letter-spacing: -.01px;
        }
    }

    .slider {
        flex: 1 1 auto;
        position: relative;
        margin-top: 15px;
        width: 720px;
        height: 700px;
        align-self: baseline;
        overflow: hidden;
    
        .slide {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
    
            &.after {
                width: calc(440 / 720 * 100%);
                overflow: hidden;
                z-index: 2;
            }
            &.before {
                z-index: 1;
            }
    
            .slide__img {
                width: 720px;
                height: 100%;
            }
        }
    
        .divider {
            position: absolute;
            top: 0;
            left: calc(440 / 720 * 100% - 39px / 2);
            width: 39px;
            height: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-image: url(../../assets/svg/explore-slider.svg);
            z-index: 3;
            cursor: pointer;
            transition: opacity $transition-duration;
            
            &:hover {
                opacity: .8;;
            }
        }
    }
}

@media (max-width: $desktop-1240) {
    .explore-section {
        .slider {
            height: calc((100vw - 520px) * 700 / 720);
            align-self: flex-end;

            .slide {
                width: 100%;             
                
                .slide__img {
                    width: initial;
                }
            }
        }
    }
}

@media (max-width: $desktop-1024) {
    .explore-section {
        .wrapper {
            display: block;
        }
    
        .explore-info {
            width: 100%;
            min-width: 0;
            margin-bottom: 62px;            
        }
    
        .section-title__wrapper {
            margin-bottom: 83px;
        }
    
        .explore-info__txt-wrapper {
            margin-bottom: 0;

            &:nth-of-type(2) {
                width: 100%;
            }
            
            &:nth-of-type(3) {
                .explore-info__txt {
                    line-height: 35px;
                }
            }

            &:last-of-type {
                display: none;
            }

            .explore-info__txt {
                font-size: 20px;
                line-height: 39px;
            }
        }

        .slider {
            margin: 0 auto;
            height: 700px;
        }
    }
}

@media (max-width: $tablet) {
    .explore-section {

        .explore-info {
            margin-bottom: 63px;            
        }

        .section-title__wrapper {
            margin-bottom: 63px;
        }
    
        .explore-info__txt-wrapper {
            display: none;
        }

        .slider {
            margin: 0 auto;        
            width: 100%;
            max-width: 728px;
            max-height: 705px;
            height: calc((100vw - 40px) * 705 / 728);

            .slide {
                width: 100%;             
                
                .slide__img {
                    width: initial;
                }
            }

            .divider {
                left: calc(440px / 720px * 100% - 39px / 2);
                height: calc((100vw - 40px) * 705 / 728);
                background-image: url(../../assets/svg/explore-slider-768px.svg);
            }
        }
    }
}

@media (max-width: $mobile) {
    .explore-section {
        .slider {
            width: 100%;
            max-width: 380px;
            max-height: 368px;
            height: calc((100vw - 40px) * 368 / 380);
    
            .divider {
                width: 20px;
                height: calc((100vw - 40px) * 368 / 380);
                left: calc(230px / 380px * 100% - 20px / 2);
            }
        }
    }    
}