.footer {
    .wrapper:last-child {
        padding: 50px 0;
        @include flex;
    }
}

.footer__info {
    @include flex($justify-content: flex-start);

    .logo__link {
        width: calc(195px + 50px);
        height: calc(50px + 75px);
        margin-right: 97px;
        padding-top: 75px;
        padding-right: 45px;
        align-self: flex-start;
    }

    .logo__icon {
        margin-top: 0;
        width: calc(199px + 50px);
        height: 50px;
        background-position: left 9px;
    }

    .logo__txt {
        align-self: center;
    }

    .menu {
        max-width: none;        
        padding: 87px 92px 50px 0;
        align-self: flex-start;
    }

    .menu__list {
        height: 128px;
        max-width:363px;
        flex-flow: column wrap;
        column-width: 107px;
        column-gap: calc(100% - 107px * 2);
        row-gap: 25px;
        align-items: flex-start;
    }

    .menu__link {
        line-height: 26px;
    }
}

.social {
    flex: 0 1 auto;
    align-self: flex-start;
    padding-top: 162px;
    max-width: 340px;
}

.social__list {
    @extend %not-list;
    @include flex($justify-content: flex-start);
    column-gap: 25px;
}

.social__item {
    transition: filter $transition-duration;

    &:hover {
        filter: invert(56%) sepia(6%) saturate(2019%) hue-rotate(356deg) brightness(96%) contrast(85%);
    }    
}

.social__link {
    display: block;
    width: 48px;
    height: 48px;
    border: 1px solid $filler;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;
}

.yt {
    background-image: url(../../assets/svg/yt.svg);
}

.ig {
    background-image: url(../../assets/svg/ig.svg);
}

.fb {
    background-image: url(../../assets/svg/fb.svg);
}

.tt {
    background-image: url(../../assets/svg/tt.svg);
}

.pt {
    background-image: url(../../assets/svg/pt.svg);
}

.deco-line {
    width: 100%;
    height: 3px;
    background-color: $filler;
}

.developer-contact {
    flex: 0 1 auto;

    .social__list {
        flex-direction: column;
        align-items: flex-start;
    }
}

.copyright {
    @include flex;
    flex-direction: column;
    align-self: stretch;

    & > p {
        margin: 0;
    }
}

.copyright__txt,
.developer-name {
    margin: 0;
    @include roboto-font($color: $light, $size: $font-small, $line-height: $font-small);
    font-weight: 100;
}

.developer-name {
    margin-bottom: 20px;
}

.copyright__txt {
    position: relative;
    flex: 1 1 0;
    align-self: flex-start;

    &::before {
        content: "\00a9";
        padding-right: 2px;
    }
}

.developer-contact {
    .social__item {
        position: relative;
        margin: 0 0 15px 0;
        padding-left: 30px;
        width: 100%;
        height: $fontline-smaller;

        &:last-of-type {
            margin-bottom: 0;
        }

        &.e-mail {
            &::before {
                filter: invert(86%) sepia(93%) saturate(24%) hue-rotate(170deg) brightness(113%) contrast(100%);
                background-image: url(../../assets/svg/e-mail.svg);
            }

        } 
        
        &.linkedin {
            &::before {
                filter: invert(86%) sepia(93%) saturate(24%) hue-rotate(170deg) brightness(113%) contrast(100%);
                background-image: url(../../assets/svg/linkedin.svg);
            }            
        }
        
        &.gh {
            &::before {
                filter: invert(86%) sepia(93%) saturate(24%) hue-rotate(170deg) brightness(113%) contrast(100%);
                background-image: url(../../assets/svg/gh.svg);
            }            
        }

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: "";
            width: 20px;
            height: 20px;
            margin-right: 10px;
            background-repeat: no-repeat;    
                    
        }
    }
}

.developer__link {
    display: block;
    margin-left: calc(20px + 10px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px 24px;        
    @include link;
    @include roboto-font($color: $light, $size: $font-smaller, $line-height: $font-smaller);
    font-weight: 100;
    font-style: normal;
}

@media (max-width: $desktop-1024) { 
    .footer__info {
        .logo__link {
            width: calc(49px + 25px + 120px + 5px);
            height: calc(33px + 60px);
            margin-right: calc(45px - 5px);
            padding-top: 60px;
            padding-right: 0;
        }
    
        .logo__icon {
            width: calc(49px + 26px);
            height: 26px;
            background-position: left top;
        }
    
        .menu {
            flex: 1 1 auto;
            min-width: 180px;
            margin-right: 20px;
            padding: 65px 52px 50px 0;
        }
    }
    
    .social {        
        margin-left: 20px;
        padding-top: 145px;
        width: 340px;
    }
    
    .social__list {
        width: 100%;
        column-gap: 0;
        justify-content: space-between;
    }
}

@media (max-width: $tablet) { 
    .footer {
        .wrapper:last-child {
            padding: 37px 0;
        }
    }

    .footer__info {
       flex-wrap: wrap;
    
        .logo__link {
            height: calc(41px + 40px);
            padding-top: 40px;
            align-items: center;
        }

        .logo__txt {
            align-self: baseline;
        }
    
        .menu {
            flex: 1 1 auto;
            min-width: 180px;
            margin-right: 20px;
            padding: 57px 0 0 59px;
        }

        .menu__list {
            height: 121px;
            padding-bottom: 8px;
        }

        .menu__link {
            font-size: 18px;
            line-height: 21px;
        }
    }
    
    .social {        
        max-width: none;
        width: 100%;
        margin: 0;
        padding: 42px 90px 40px 0;
    }
    
    .social__list {
        margin: 0 0 0 auto;
        width: 340px;
        justify-content: space-between;
    }
}

@media (max-width: $mobile) { 
    .footer {
        .wrapper:last-child {
            padding: 40px 0;
        }
    }

    .footer__info {
        flex-direction: column;
        flex-wrap: nowrap;
    
        .logo__link {
            height: 100px;
            width: 131px;
            padding: 40px 0;
        }

        .logo__icon {
            width: 49px;
            height: 16px;
        }

        .logo__txt {
            padding: 2px 0 0;
        }
    
        .menu {
            min-width: 100%;
            margin: 0;
            padding: 0 0 40px;
        }

        .menu__item {
            padding: 0;
        }

        .menu__list {
            width: 100%;
            height: 68px;
            margin: 0;
            padding: 0;
            justify-content: space-between;
            column-width: auto;
            column-gap: calc((100% - 187px) / 2);
        }

        .menu__link {
            font-size: 16px;
            line-height: 19px;
        }
    }
    
    .social {
        padding: 0 0 40px;
    }
    
    .social__list {
        margin: 0 auto;
        width: 260px;
    }

    .copyright__txt,
    .developer-name,
    .developer__link {
       font-size: 16px;
       line-height: 19px;
    }
}