.tickets-section {

    .section-title__wrapper {
        margin-bottom: 103px;
    }
    
    .buy__tickets {
        @include flex;

        .tickets__bg {
            flex: 0 1 auto;
            margin-right: 60px;
            width: 720px;
            height: 550px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top center;
            background-image: url(../assets/img/tickets-bg.jpg);
        }
    }
}

.tickets__form {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 1fr;
    justify-content: space-between;
    align-self: stretch;
}

.tickets-options {
    margin: 0;
    padding: 0;
    border-style: none;
}

.tickets-type {
    grid-row: 1;
    width: 270px;

    .form__title {
        margin-bottom: 50px;
    }

    .lbl {
        padding-left: calc(23px + 17px);
        cursor: pointer;

        &:nth-of-type(n) {
            margin-bottom: 25px;
        }
    
        &:last-of-type {
            margin-bottom: 0;
        }
    
        &:hover {
            font-weight: 700;
    
            .radio-mark:not(:checked) ~ .custom-mark {
                border-color: $controls-hover;
    
                &::after {
                    opacity: 1;
                    background-color: $controls-hover;
                }
            }
        }
    
        .radio-mark:checked ~ .custom-mark::after {
            opacity: 1;
        }
    }
}

.tickets-amount {
    grid-row: 1;
    width: 150px;

    .form__title {
        margin-bottom: 25px;
        text-align: right;
    }

    .lbl {
        margin-bottom: 15px;
    }
}

.lbl {
    display: block;
    position: relative;
    @include roboto-font($color: $dark, $size: $font-small, $line-height: $fontline-small, $letter-spacing: 0);
    font-weight: 300;
    user-select: none;
}

.radio-mark {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    cursor: pointer;
}

.custom-mark {
    position: absolute;
    top: calc(2px * 2) + 1px;
    left: 0;
    width: 17px;
    height: 17px;
    border: 2px solid $dark;
    border-radius: 50%;
    transition: border-color $transition-duration;

    &::after {
        position: absolute;
        content: "";
        top: calc((17px - 2px * 2 - 7px) / 2);
        left: calc((17px - 2px * 2 - 7px) / 2);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: $dark;
        opacity: 0;
        transition: opacity $transition-duration, background-color $transition-duration;

    }
}

.inp-number {
    padding: 0;
    width: 60px;
    height: 38px;
    border-style: none;
    @include roboto-font($color: $dark, $size: $font-small, $line-height: $fontline-small, $letter-spacing: 0);
    font-weight: 300;
    text-align: center;
    overflow: hidden;

    &::-webkit-inner-spin-button {
        appearance: none;
    }
}

.btn__amount {
    padding: 0;
    border-style: none;
    outline: none;
    width: 19px;
    height: 38px;
    @include roboto-font($color: $dark, $size: $font-big, $line-height: $fontline-big, $letter-spacing: 0);
    background-color: transparent;
    cursor: pointer;
    transition: font-weight $transition-duration;

    &:hover {
        font-weight: 700;
    }
}

.order__ticket {
    margin-bottom: 10px;
    padding: 6px 14px;
    @include flex;
    height: 50px;
    border: 3px solid $dark;

    &:hover {
        font-weight: 700;
    }

    &:last-of-type {
        margin-bottom: 50px;
    }
}

.lbl {
    &.sum {
        @include flex;
        margin: 0 0 60px;
    }
}

.inp-number {
    &.sum {
        height: $fontline-middle;
    }
}

.sum {
    @include roboto-font($color: $dark, $size: $font-middle, $line-height: $fontline-middle, $letter-spacing: 0);
    font-weight: 700;
    letter-spacing: .02em;
    text-align: right;
}

.btn__tickets {
    grid-column: 1 / 3;
    grid-row: 2;
    justify-self: end;
    align-self: start;
    width: 175px;
    height: 50px;
    padding: 0;
    border-style: none;
    border-radius: 2px;
    background-color: $dark;
    @include roboto-font($color: $light, $size: $font-small, $line-height: $fontline-small, $letter-spacing: 2px);
    font-weight: 300;
    cursor: pointer;
    transition: color $transition-duration, background-color $transition-duration;

    &:hover {
        color: $dark;
        background-color: $gold;
    }
}