.video-section {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .section-title__wrapper {
        margin-bottom: 75px;
    }

    .section-subtitle__wrapper {
        padding-top: 7px;
        max-width: 720px;
        justify-self: right;
    }

    .section-subtitle {
        font-size: $font-small;
        line-height: $fontline-big;
        color: $dark;
        letter-spacing: -.01px;
    }
}

.video__player-wrapper {
    grid-column: 1 / 3;
    position: relative;    
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    object-position: top center;

    .playback-rate-info {
        position: absolute;
        top: 10%;
        left: calc((100% - 150px) / 2);
        width: 150px;
        height: 70px;
        margin: 0 auto;
        padding: calc((70px - 38px) / 2) 0;   
        border-radius: 10px;
        border-style: none;
        background-color: $dark-bg;
        opacity: .8;
        text-align: center;
        font-size: 34px;
        line-height: 38px;
        color: $light;
        transition: opacity ease-in-out;
        animation: 3s ease-in-out;
        animation-name: show-info;
        animation-fill-mode: forwards;
    }

    @keyframes show-info {
        0% {
            opacity: 0;
        }
        20% {
            opacity: .8;
        }
        100% {
            opacity: 0;
        }
    }

    .video-poster {            
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        animation: 0.5s ease-in-out; 

        .video__item {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }    
    }

    .play-main {
        position: absolute;
        width: 220px;
        height: 220px;
        top: calc(50% - 220px / 2);
        left: calc(50% - 220px / 2);
        background-image: url(../../assets/svg/play-btn.svg);
        transition: opacity $transition-duration;

        &:hover {
            opacity: .8;
        }

        &.hide {
            display: none;
        }
    }
}

.video__controls-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 85px;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 23px 1fr 38px 155px 35px;
    column-gap: 50px;
    align-items: center;
    background-color: $dark;
    transition: 3s ease-in-out;

    &.hide {
        animation: $transition-duration ease-in-out;
        animation-name: hide-controls;        
        animation-fill-mode: forwards;
    }

    @keyframes hide-controls {
        0% {
            bottom: 0;
        }
        100% {
            bottom: -60px;
        }
    }

    & > * {
        flex: 0 1 auto;
    }

    .play-control {
        width: 23px;
        height: 31px;
        background-image: url(../../assets/svg/play-control.svg);
        transition: filter $transition-duration;

        &:hover {
            filter: invert(64%) sepia(0%) saturate(579%) hue-rotate(143deg) brightness(94%) contrast(90%);
        }

        &.pause-control {
            background-image: url(../../assets/svg/pause-control.svg);
        }
    }

    .volume-control {
        width: 38px;
        height: 31px;
        background-image: url(../../assets/svg/volume.svg);
        transition: filter $transition-duration;

        &:hover {
            filter: invert(64%) sepia(0%) saturate(579%) hue-rotate(143deg) brightness(94%) contrast(90%);
        }

        &.mute {
            background-image: url(../../assets/svg/mute.svg);
        }
    }

    .full-screen {
        width: 35px;
        height: 35px;
        background-image: url(../../assets/svg/full-screen.svg);
        transition: filter $transition-duration;

        &:hover {
            filter: invert(64%) sepia(0%) saturate(579%) hue-rotate(143deg) brightness(94%) contrast(90%);
        }

        &.full-screen-exit {
            background-image: url(../../assets/svg/fullscreen_exit.svg);
        }
    }

    .range-bar {
        flex: 1 1 auto;
        height: 8px;
        border-style: none;
        border-radius: 0;
        outline: none;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $light;
            cursor: pointer;
            transition: background-color $transition-duration;

            &:hover {
                background-color: $gold;
            }
        }

        &::-moz-range-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $light;
            cursor: pointer;
            transition: opacity $transition-duration;

            &:hover {
                opacity: .8;
            }
        }
    }

    .play-duration-control {
        width: 100%;
        background: linear-gradient(to right, $red-bg 0%, $red-bg 0%, $light-grey 0%, $light-grey 100%);
    }

    .play-volume-control {
        max-width: 155px;
        background: linear-gradient(to right, $red-bg 0%, $red-bg 43%, $light-grey 43%, $light-grey 100%);
    }
}

.video__thumbnails {
    position: relative;
    grid-column: 1 / 3;
    list-style: none;
    margin: 0 0 40px;
    padding: 0;
    @include flex;
    column-gap: 40px;
    width: 100%;
    height: 254px;
    overflow: hidden;
}

.video__thumb {
    position: absolute;
    display: none;
    height: 254px;
    flex: 1 1 auto;
    width: calc((100% - $video-items-gap * 2) / 3);
    animation: $transition-duration ease-in-out;

    .video__frame {
        width: 100%;
    }

    &.active-slide {
        display: flex;  

        &.first {
            left: 0;
        }
    
        &.second {
            left: calc((100% - $video-items-gap * 2) / 3 + $video-items-gap);
        }
    
        &.third {
            left: calc(100% - (100% - $video-items-gap * 2) / 3);
        }      
    }    

    &.hide-to-left {
        animation-name: video-item-hide;
        animation-fill-mode: forwards;
    }

    &.first-from-right {
        animation-name: video-item-first-from-right;
        animation-fill-mode: forwards;
    }

    &.second-from-right {
        animation-name: video-item-second-from-right;
        animation-fill-mode: forwards;
    }

    &.show-from-right {
        animation-name: video-item-show;
        animation-fill-mode: forwards;
    }

    &.hide-to-right {
        animation-name: video-item-first-from-right;
        animation-direction: reverse;
    }

    &.first-to-right {
        animation-name: video-item-second-from-right;
        animation-direction: reverse;
    }

    &.second-to-right {
        animation-name: video-item-show;
        animation-direction: reverse;
    }

    &.show-from-left {
        animation-name: video-item-hide;
        animation-direction: reverse;
    }

    @keyframes video-item-hide {
        0% {
            left: 0;
        }
        100% {
            left: calc(-1 * ((100% - $video-items-gap * 2) / 3 + $video-items-gap));
        }        
    }

    @keyframes video-item-show {
        0% {
            left: calc(100% + $video-items-gap);
        }
        100% {
            left: calc(100% - (100% - $video-items-gap * 2) / 3);
        }        
    }

    @keyframes video-item-first-from-right {
        0% {
            left: calc((100% - $video-items-gap * 2) / 3 + $video-items-gap);
        }
        100% {
            left: 0;
        }        
    }

    @keyframes video-item-second-from-right {
        0% {
            left: calc(100% - (100% - $video-items-gap * 2) / 3);
        }
        100% {
            left: calc((100% - $video-items-gap * 2) / 3 + $video-items-gap);
        }        
    }
}

.video__slider-pagination {
    grid-column: 1 / 3;
    width: 200px;
    height: 12px;
    justify-self: center;
    @extend %not-list;
    @include flex;

    .bullet__item {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $bullet-unvisited;
        cursor: pointer;
        transition: background-color $transition-duration;        

        &:hover {
            background-color: $bullet-hover;
        }

        &.active {
            cursor: auto;
            background-color: $bullet-unvisited-active;
        }
    }

    .stroke {
        width: 10px;
        height: 12px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        transition: filter $transition-duration;        

        &:hover {
            filter: invert(13%) sepia(32%) saturate(5071%) hue-rotate(341deg) brightness(51%) contrast(115%);
        }

        &.left {
            background-image: url(../../assets/svg/stroke-left.svg);
        }

        &.right {
            background-image: url(../../assets/svg/stroke-right.svg);
        }
    }
}

@media (max-width: $desktop-1024) {
    .video-section {    
        .section-title__wrapper {
            margin-bottom: 40px;
        }
    
        .section-subtitle__wrapper {
            display: none;
        }
    }
    
    .video__player-wrapper {    
        .play-main {
            width: 152px;
            height: 152px;
            top: calc(50% - 152px / 2);
            left: calc(50% - 152px / 2);
        }
    }
    
    .video__controls-wrapper {
        height: 60px;
        padding: 0 40px;
        column-gap: 30px;
    
        .volume-control {
            width: 26px;
            height: 20px;
        }
    
        .full-screen {
            width: 26px;
            height: 26px;
        }
    
        .range-bar {
            height: 5px;

            &::-webkit-slider-thumb {
                width: 13px;
                height: 13px;
            }
    
            &::-moz-range-thumb {
                width: 13px;
                height: 13px;
            }
        }
    
        .play-duration-control {
            max-width: 564px;
        }
    
        .play-volume-control {
            max-width: 143px;
        }
    }
    
    .video__thumbnails {
        column-gap: 41px;
        height: 170px;
    }
    
    .video__thumb {
        height: 170px;
    }   
}

@media (max-width: $tablet) {
    .video-section {    
        .section-title__wrapper {
            margin-bottom: 20px;
        }
    }
    
    .video__player-wrapper {    
        .play-main {
            width: 80px;
            height: 80px;
            top: calc(50% - 80px / 2);
            left: calc(50% - 80px / 2);
        }
    }
    
    .video__controls-wrapper {
        grid-template-columns: 53px 27px 1fr 57px;
        grid-template-rows: calc(13px - 7px) 45px;
        height: 57px;
        padding: 0;
        z-index: 1;

        .play-control {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: calc(23px + 30px);
            height: 29px;
            background-position: center right;
            justify-self: self-end;
        }
    
        .volume-control {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            width: 27px;
            height: 21px;
        }
    
        .full-screen {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            width: calc(27px + 30px);
            height: 27px;
            background-position: center left;
        }
    
        .play-duration-control {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
            max-width: 100%;
            position: relative;
        }
    
        .play-volume-control {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            max-width: 486px;
        }
    }
    
    .video__thumbnails {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
        height: 199px;
        column-gap: 20px;
    }
    
    .video__thumb {
        height: 199px;
        width: calc((100% - $video-items-gap-768) / 2);

        &.active-slide {
            display: flex;  
    
            &.first {
                left: 0;
            }
        
            &.second {
                left: calc((100% - $video-items-gap-768) / 2 + $video-items-gap-768);
            }
        
            &.third {
                left: 100%;
            }      
        }

        &.hide-to-left {
            animation-name: video-item-hide;
        }
    
        &.first-from-right {
            animation-name: video-item-first-from-right;
        }
        
        &.second-from-right {
            animation-name: '';
        }        
    
        &.show-from-right {
            animation-name: video-item-show;
        }
    
        &.hide-to-right {
            animation-name: video-item-first-from-right;
            animation-direction: reverse;
        }
    
        &.first-to-right {
            animation-name: video-item-show;
            animation-direction: reverse;
        }

        &.second-to-right {
            animation-name: '';
        }
    
        &.show-from-left {
            animation-name: video-item-hide;
            animation-direction: reverse;
        }
    
        @keyframes video-item-hide {
            0% {
                left: 0;
            }
            100% {
                left: calc(-1 * ((100% - $video-items-gap-768) / 2 + $video-items-gap-768));
            }        
        }
    
        @keyframes video-item-show {
            0% {
                left: calc(100% + $video-items-gap-768);
            }
            100% {
                left: calc(100% - (100% - $video-items-gap-768) / 2);
            }        
        }
    
        @keyframes video-item-first-from-right {
            0% {
                left: calc((100% - $video-items-gap-768) / 2 + $video-items-gap-768);
            }
            100% {
                left: 0;
            }        
        }
    }   

    .video__slider-pagination {
        width: 190px;
        margin-bottom: 40px;
    
        .bullet__item {
            width: 10px;
            height: 10px;
        }
    }
}

@media (max-width: $mobile) {
    .video-section {
        padding: 36px 0 40px 0;
    }
    
    .video__player-wrapper {    
        .play-main {
            width: 50px;
            height: 50px;
            top: calc(50% - 50px / 2);
            left: calc(50% - 50px / 2);
        }
    }
    
    .video__controls-wrapper {
        display: grid;
        grid-template-columns: 34px 18px 1fr 38px;
        grid-template-rows: 0 53px;
        column-gap: 30px;
        height: 53px;
        margin-bottom: 0;
        padding: 0;
        z-index: 1;
    
        .play-control {
            width: calc(14px + 20px);
            height: 18px;
        }
    
        .volume-control {
            width: 18px;
            height: 14px;
        }
    
        .full-screen {
            width: calc(18px + 20px);
            height: 18px;
        }

        .range-bar {
            height: 4px;

            &::-webkit-slider-thumb {
                width: 10px;
                height: 10px;
            }
    
            &::-moz-range-thumb {
                width: 10px;
                height: 10px;
            }
        }
    
        .play-duration-control {
            top: 0;
        }
    
        .play-volume-control {
            max-width: 200px;
        }
    }
    
    .video__thumbnails {
        height: 101px;
        margin-bottom: 40px;
    }
    
    .video__thumb {
        height: 101px;
    }   

    .video__slider-pagination {
        width: 174px;
        height: 8px;
        margin-bottom: 0;
    
        .bullet__item {
            width: 8px;
            height: 8px;
        }

        .stroke {
            width: 7px;
            height: 8px;
        }
    }
}