.video-section {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }

    .section-title__wrapper {
        margin-bottom: 75px;
    }

    .section-subtitle__wrapper {
        padding-top: 7px;
        max-width: 720px;
        justify-self: right;
    }

    .section-subtitle {
        font-size: $font-small;
        line-height: $fontline-big;
        color: $dark;
        letter-spacing: -.01px;
    }
}

.video__player-wrapper {
    grid-column: 1 / 3;
    position: relative;
    width: 100%;
    height: 650px;
    object-position: top center;

    .video-poster {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }

    .play-main {
        position: absolute;
        width: 220px;
        height: 220px;
        top: calc(50% - 220px / 2);
        left: calc(50% - 220px / 2);
        background-image: url(../../assets/svg/play-btn.svg);
        transition: opacity $transition-duration;

        &:hover {
            opacity: .8;
        }
    }
}

.video__controls-wrapper {
    grid-column: 1 / 3;
    margin-bottom: 40px;
    width: 100%;
    height: 85px;
    padding: 0 30px;
    @include flex;
    column-gap: 50px;
    background-color: $dark;

    & > * {
        flex: 0 1 auto;
    }

    .play-control {
        width: 23px;
        height: 31px;
        background-image: url(../../assets/svg/play-control.svg);
        transition: filter $transition-duration;

        &:hover {
            filter: invert(64%) sepia(0%) saturate(579%) hue-rotate(143deg) brightness(94%) contrast(90%);
        }
    }

    .volume-control {
        width: 38px;
        height: 31px;
        background-image: url(../../assets/svg/volume.svg);
        transition: filter $transition-duration;

        &:hover {
            filter: invert(64%) sepia(0%) saturate(579%) hue-rotate(143deg) brightness(94%) contrast(90%);
        }
    }

    .full-screen {
        width: 35px;
        height: 35px;
        background-image: url(../../assets/svg/full-screen.svg);
        transition: filter $transition-duration;

        &:hover {
            filter: invert(64%) sepia(0%) saturate(579%) hue-rotate(143deg) brightness(94%) contrast(90%);
        }
    }

    .range-bar {
        flex: 1 1 auto;
        height: 8px;
        border-style: none;
        border-radius: 0;
        outline: none;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $light;
            cursor: pointer;
            transition: background-color $transition-duration;

            &:hover {
                background-color: $gold;
            }
        }

        &::-moz-range-thumb {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: $light;
            cursor: pointer;
            transition: opacity $transition-duration;

            &:hover {
                opacity: .8;
            }
        }
    }

    .play-duration-control {
        max-width: 929px;
        background: linear-gradient(to right, $red-bg 0%, $red-bg 53.5%, $light-grey 53.5%, $light-grey 100%);
    }

    .play-volume-control {
        max-width: 155px;
        background: linear-gradient(to right, $red-bg 0%, $red-bg 43%, $light-grey 43%, $light-grey 100%);
    }
}

.video__slider-wrapper {
    grid-column: 1 / 3;
    margin-bottom: 40px;
    @include flex;
    column-gap: 40px;
    width: 100%;
    height: 254px;
    overflow: hidden;
}

.video__item {
    display: none;
    height: 254px;
    flex: 1 1 auto;

    .video__frame {
        width: 100%;
    }

    &.active {
        display: flex;
    }
}

.video__slider-pagination {
    grid-column: 1 / 3;
    width: 200px;
    height: 12px;
    justify-self: center;
    @extend %not-list;
    @include flex;

    .bullet {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: $bullet-unvisited;
        cursor: pointer;
        transition: background-color $transition-duration;        

        &:hover {
            background-color: $bullet-hover;
        }

        &.active {
            cursor: auto;
            background-color: $bullet-unvisited-active;
        }
    }

    .stroke {
        width: 10px;
        height: 12px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        cursor: pointer;
        transition: filter $transition-duration;        

        &:hover {
            filter: invert(13%) sepia(32%) saturate(5071%) hue-rotate(341deg) brightness(51%) contrast(115%);
        }

        &.left {
            background-image: url(../../assets/svg/stroke-left.svg);
        }

        &.right {
            background-image: url(../../assets/svg/stroke-right.svg);
        }
    }
}

@media (max-width: $desktop-1024) {
    .video-section {    
        .section-title__wrapper {
            margin-bottom: 40px;
        }
    
        .section-subtitle__wrapper {
            display: none;
        }
    }
    
    .video__player-wrapper {
        height: 444px;
    
        .play-main {
            width: 152px;
            height: 152px;
            top: calc(50% - 152px / 2);
            left: calc(50% - 152px / 2);
        }
    }
    
    .video__controls-wrapper {
        height: 60px;
        padding: 0 40px;
        column-gap: 30px;
    
        .volume-control {
            width: 26px;
            height: 20px;
        }
    
        .full-screen {
            width: 26px;
            height: 26px;
        }
    
        .range-bar {
            height: 5px;

            &::-webkit-slider-thumb {
                width: 13px;
                height: 13px;
            }
    
            &::-moz-range-thumb {
                width: 13px;
                height: 13px;
            }
        }
    
        .play-duration-control {
            max-width: 564px;
        }
    
        .play-volume-control {
            max-width: 143px;
        }
    }
    
    .video__slider-wrapper {
        column-gap: 41px;
        height: 170px;
    }
    
    .video__item {
        height: 170px;
    }   
}

@media (max-width: $tablet) {
    .video-section {    
        .section-title__wrapper {
            margin-bottom: 20px;
        }
    }
    
    .video__player-wrapper {
        height: 329px;
    
        .play-main {
            width: 80px;
            height: 80px;
            top: calc(50% - 80px / 2);
            left: calc(50% - 80px / 2);
        }
    }
    
    .video__controls-wrapper {
        display: grid;
        grid-template-columns: 53px 27px 1fr 57px;
        grid-template-rows: calc(13px - 7px) 45px;
        column-gap: 35px;
        height: 57px;
        margin-bottom: 20px;
        padding: 0;
        z-index: 1;
    
        .play-control {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width: calc(23px + 30px);
            height: 29px;
            padding-left: 30px;
            background-position: center right;
        }
    
        .volume-control {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            width: 27px;
            height: 21px;
        }
    
        .full-screen {
            grid-column: 4 / 5;
            grid-row: 2 / 3;
            width: calc(27px + 30px);
            height: 27px;
            padding-right: 30px;
            background-position: center left;
        }
    
        .play-duration-control {
            grid-column: 1 / 5;
            grid-row: 1 / 2;
            max-width: 100%;
            position: relative;
            top: -7px;
        }
    
        .play-volume-control {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            max-width: 486px;
        }
    }
    
    .video__slider-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
        height: 199px;
        column-gap: 20px;
    }
    
    .video__item {
        height: 199px;
    }   

    .video__slider-pagination {
        width: 190px;
        margin-bottom: 40px;
    
        .bullet {
            width: 10px;
            height: 10px;
        }
    }
}

@media (max-width: $mobile) {
    .video-section {
        padding: 36px 0 40px 0;
    }
    
    .video__player-wrapper {
        height: 172px;
    
        .play-main {
            width: 50px;
            height: 50px;
            top: calc(50% - 50px / 2);
            left: calc(50% - 50px / 2);
        }
    }
    
    .video__controls-wrapper {
        display: grid;
        grid-template-columns: 34px 18px 1fr 38px;
        grid-template-rows: 0 53px;
        column-gap: 30px;
        height: 53px;
        margin-bottom: 40px;
        padding: 0;
        z-index: 1;
    
        .play-control {
            width: calc(14px + 20px);
            height: 18px;
        }
    
        .volume-control {
            width: 18px;
            height: 14px;
        }
    
        .full-screen {
            width: calc(18px + 20px);
            height: 18px;
        }

        .range-bar {
            height: 4px;

            &::-webkit-slider-thumb {
                width: 10px;
                height: 10px;
            }
    
            &::-moz-range-thumb {
                width: 10px;
                height: 10px;
            }
        }
    
        .play-duration-control {
            top: 0;
        }
    
        .play-volume-control {
            max-width: 200px;
        }
    }
    
    .video__slider-wrapper {
        height: 101px;
        margin-bottom: 40px;
    }
    
    .video__item {
        height: 101px;
    }   

    .video__slider-pagination {
        width: 174px;
        height: 8px;
        margin-bottom: 0;
    
        .bullet {
            width: 8px;
            height: 8px;
        }

        .stroke {
            width: 7px;
            height: 8px;
        }
    }
}