.welcome-section {
    padding: 0;

    .wrapper {
        position: relative;
        height: 810px;
        display: flex;
        flex-direction: column;
        align-items: stretch;

        & > *:not(.welcome__slider-wrapper) {
            position: relative;
            z-index: 1;
        }
    }

    .section-title__wrapper {
        margin-bottom: 25px;
        border-style: none;
        padding-top: 150px;
        width: 598px;
        @include flex($justify-content: flex-start, $align-items: flex-start);
    }

    .section-subtitle__wrapper {
        margin: 0 0 75px;
    }

    .btn__wrapper {
        flex: 1 1 100%;
        width: 360px;
        height: 75px;
        cursor: pointer;
        
        &:hover {
            .btn {
                background-color: $gold;
            }
        }
    }

    .btn {       
        @include flex($justify-content: center);
        @include link($link-color: $light, $link-hover: $light);
        @include roboto-font($color: $light);
        font-weight: 300;
        font-size: $font-small;
        line-height: 75px;
        letter-spacing: 2px;
        background-color: $red-bg;
        border-radius: 10px;
        transition: background-color $transition-duration;
    }

    .pagination {
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 0 0 auto;
        padding: 0 75px 0 74px;
        width: 600px;
        height: 120px;
        @include flex;
        background-color: $dark-bg;

        & > * {
            @include flex;
        }

        .page__num {
            width: 75px;
        }

        .page {
            margin: 0;
            @include roboto-font($color: $light);
            font-size: $font-small;
            line-height: 120px;
        }

        .bullets__list {
            @extend %not-list;
            width: 180px;
            height: 16px;
        }

        .bullet__item {
            width: 16px;
            height: 16px;
            background-color: $light;
            cursor: pointer;
            transition: background-color $transition-duration;            

            &:hover {
                background-color: $pagination-hover;
            }

            &.active {
                cursor: auto;
                background-color: $pagination-active;
            }
        }

        .arrows {
            width: 80px;
        }

        .arrow {
            width: 30px;
            height: 8px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            cursor: pointer;
            transition: filter $transition-duration;

            &:hover {
                filter: invert(60%) sepia(11%) saturate(1085%) hue-rotate(356deg) brightness(88%) contrast(83%);
            }
        }

        .arrow__left {
            background-image: url(../../assets/svg/arrow-left.svg);
        }

        .arrow__right {
            background-image: url(../../assets/svg/arrow-right.svg);
        }
    }
}

.welcome__slider-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 1000px;
    height: 810px; 
}

.welcome__slider {
    position: absolute;
    @extend %not-list;
    top: 0;
    right: 0;
    width: 100%;
    height: calc(100% - 120px / 2);
    overflow: hidden;
    z-index: 0;
}

.welcome__img {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
    animation: $transition-duration ease-in-out;

    &.active-slide {
        display: flex;
        left: 0;
    }

    &.backstage-slide {
        display: flex;
        left: -100%;
    }
  
    &.show-from-left {
        animation-name: from-left;
    }
  
    &.show-from-right {
        animation-name: from-right;
    }   
    
    &.hide-to-right {
        animation-name: from-right;
        animation-direction: reverse;
    }
    
    &.hide-to-left {
        animation-name: from-left;
        animation-direction: reverse;
    }
}
  
@keyframes from-left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}
  
@keyframes from-right {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

.img-01 {
    background-image: linear-gradient(90deg, #000 0%, rgba(0,0,0,0.5) 16.19%, rgba(0,0,0,0) 30.73%),url(../../assets/img/welcome-slider/img-01.jpg);
}

.img-02 {
    background-image: linear-gradient(90deg, #000 0%, rgba(0,0,0,0.5) 16.19%, rgba(0,0,0,0) 30.73%),url(../../assets/img/welcome-slider/img-02.jpg);
}

.img-03 {
    background-image: linear-gradient(90deg, #000 0%, rgba(0,0,0,0.5) 16.19%, rgba(0,0,0,0) 30.73%),url(../../assets/img/welcome-slider/img-03.jpg);
}

.img-04 {
    background-image: linear-gradient(90deg, #000 0%, rgba(0,0,0,0.5) 16.19%, rgba(0,0,0,0) 30.73%),url(../../assets/img/welcome-slider/img-04.jpg);
}

.img-05 {
    background-image: linear-gradient(90deg, #000 0%, rgba(0,0,0,0.5) 16.19%, rgba(0,0,0,0) 30.73%),url(../../assets/img/welcome-slider/img-05.jpg);
}

@media (max-width: $desktop-1024) {
    .welcome-section {    
        .wrapper {
            height: 585px;            
        }
    
        .section-title__wrapper {
            padding-top: 50px;
        }

        .section-title {
            line-height: 90px;
        }

        .section-subtitle__wrapper {
            margin: 0 0 50px;
        }
    
        .btn__wrapper {
            width: 300px;
            height: 60px;
        }
    
        .btn {       
            font-size: 20px;
            line-height: 60px;
        }
    
        .pagination {
            width: 100%;
            padding-left: 224px;
            z-index: 3;
    
            .page__num {
                width: 71px;
            }
    
            .page {
                font-size: 20px;
                line-height: 40px;
            }
    
            .bullets__list {
                width: 160px;
                height: 12px;
            }
    
            .bullet__item {
                width: 12px;
                height: 12px;
            }
        }
    }

    .welcome__slider-wrapper {
        width: 700px;
        height: 585px; 
    }
}

@media (max-width: $tablet) {
    .welcome-section {    
        .wrapper {
            height: 585px;
            position: static;
            height: auto;
            display: block;
    
            & > *:not(.btn__wrapper) {
                position: static;
            }            
        }
    
        .section-title__wrapper {
            display: block;
            margin: 0 auto 25px;
            padding-top: 0;
            width: 100%;
            text-align: center;
        }

        .section-title {
            line-height: 60px;
        }

        .section-subtitle__wrapper {
            margin: 0 0 50px;
            height: 20px;
            text-align: center;
        }
    
        .btn__wrapper {
            display: none;
        }

        .pagination {
            position: static;
            height: 100px;
            margin: 0 auto;
            padding: 0 1px 0 0;
            max-width: 401px;
        }
    }

    .welcome__slider-wrapper {
        position: static;
        width: 100%;
        height: auto; 
    }
    
    .welcome__slider {
        position: static;
        height: 546px;
    }

    .welcome__img {
        width: calc(100% - 40px);

        &.active-slide {
            left: 20px;
        }
    }

    @keyframes from-left {
        0% {
            left: -100%;
        }
        100% {
            left: 20px;
        }
    }
      
    @keyframes from-right {
        0% {
            left: 100%;
        }
        100% {
            left: 20px;
        }
    }

    .img-01 {
        background-image: url(../../assets/img/welcome-slider/img-01.jpg);
    }
    
    .img-02 {
        background-image: url(../../assets/img/welcome-slider/img-02.jpg);
    }
    
    .img-03 {
        background-image: url(../../assets/img/welcome-slider/img-03.jpg);
    }
    
    .img-04 {
        background-image: url(../../assets/img/welcome-slider/img-04.jpg);
    }
    
    .img-05 {
        background-image: url(../../assets/img/welcome-slider/img-05.jpg);
    }
}

@media (max-width: $mobile) {
    .welcome-section {
        .section-title__wrapper {
            margin-bottom: 25px;
            padding: 5px 0 0;
        }

        .section-title {
            line-height: 40px;
        }

        .section-subtitle__wrapper {
            height: 20px;
        }

        .pagination {
            margin: 0 auto;
            padding: 20px 0;
            width: 230px;
            height: 80px;
    
            .page__num {
                width: 50px;
            }
    
            .page {
                font-size: 16px;
            }
    
            .bullets__list {
                width: 75px;
                height: 7px;
            }
    
            .bullet__item {
                width: 7px;
                height: 7px;
            }

            .arrows {
                width: 55px;
            }
    
            .arrow {
                width: 20px;
            }
        }
    }
    
    .welcome__slider {
        height: 285px;
    }
}