.player-btn {
    border-style: none;
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    transition: opacity $transition-duration;

    &:hover {
        opacity: .8;
    }
}

.btn {
    display: block;
    padding: 0;
    border-style: none;
    cursor: pointer;
}

.btn-close {
    position: relative;
    width: 25px;
    height: 25px;
    background-color: transparent;

    &::before,
    &::after {
        position: absolute;
        top: 26px;
        left: calc((25px - 1px) / 2);
        content: "";
        width: 1px;
        height: 34px;
        background-color: $dark-bg;
        transition: background-color $transition-duration;

        @media (max-width: $desktop-1024) {
            top: 26px;        
        }
    }

    &::before {
        transform: rotate(45deg);
    }

    &::after {
        transform: rotate(-45deg);
    }

    &:hover::before,
    &:hover::after {
        background-color: $red-bg;
    }
}

.btn-submit {
    width: 220px;
    height: 45px;
    background-color: $red-bg;
    @include roboto-font($color: $light, $size: $font-small, $line-height: $fontline-small, $letter-spacing: 0);
}