.section-title {
    margin: 0;
    @include forum-font($color: $light);
    font-size: $font-section;
    line-height: $fontline-section;
    letter-spacing: 5px;
    text-transform: uppercase;

    @media (max-width: $desktop-1024) {
        font-size: $font-form;
        line-height: 75px;
    }

    @media (max-width: $tablet) {
        font-size: 40px;
        line-height: 60px;
    }

    @media (max-width: $mobile) {
        font-size: 28px;
        line-height: 40px;
    }
}

.underline {
    position: relative;

    &:after {
        position: absolute;
        bottom: -28px;
        left: 0;
        right: 0;
        content: "";
        height: 3px;
        background-color: $red-bg;
    }

    @media (max-width: $desktop-1024) {
        &:after {
            bottom: -23px;
        }
    }
}

.txt-gold {
    color: $gold;
}

.txt-highlight {
    color: $highlight-gold;
}

.section-subtitle {
    margin: 0;
    @include roboto-font($color: $light);
    font-weight: 300;
    font-size: $font-middle;
    line-height: $fontline-middle;
    letter-spacing: 2px;

    @media (max-width: $desktop-1024) {
        margin: 0;
        font-size: $font-btn;
        line-height: $fontline-btn;
    }

    @media (max-width: $tablet) {
        font-size: 20px;
        line-height: 23px;
    }

    @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 19px;
    }
}

.tour__title {
    margin: 25px 0 22px;
    @include forum-font($color: $dark);
    font-size: $font-big;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    &.underline::after {
        bottom: -12px;
        right: 140px;
        height: 2px;
        transition: right $transition-duration * 2;
    }   
    
    @media (max-width: $desktop-1024) {
        top: 0;
        font-size: 28px;
        line-height: 31px;
        letter-spacing: 3px;

        &.underline::after {
            right: 180px;
        }  
    }
    
    @media (max-width: $tablet) {
        font-size: 22px;
        line-height: 24px;

        &.underline::after {
            right: 130px;
        } 
    }

    @media (max-width: $mobile) {
        font-size: 18px;
        line-height: 20px;
        letter-spacing: 5px;
    }
}

.tour__subtitle {
    margin: 10px 0;
    @include roboto-font($color: $dark);
    font-weight: 100;
    font-size: $font-small;
    line-height: $fontline-small;
    letter-spacing: -.01px;

    &:last-of-type {
        margin: 0;
        font-size: 18px;
        line-height: 21px;
    }

    @media (max-width: $desktop-1024) {
        font-size: 20px;
        line-height: 23px;

        &:last-of-type {
            font-size: 16px;
            line-height: 19px;
        }
    }

    @media (max-width: $tablet) {
        font-size: 18px;
        line-height: 21px;
    }

    @media (max-width: $mobile) {
        font-size: 16px;
        line-height: 19px;
    }
}

.form__title {
    margin: 0;
    @include roboto-font($size: $font-middle, $line-height: $fontline-middle, $letter-spacing: 0);
    font-weight: 700;
}

.address-name {
    margin: 0;
    @include roboto-font($size: $font-middle, $line-height: $fontline-middle, $letter-spacing: 0);
    font-style: normal;
    font-weight: 500;
}

.address-details {
    margin: 0 0 25px;
    @include roboto-font($size: $font-small, $line-height: $fontline-small, $letter-spacing: 0);
    font-style: normal;
    font-weight: 300;

    &:first-of-type {
        margin-top: 50px;
    }

    &:last-of-type {
        margin: 0;
    }
}

.form-title {
    margin: 0 0 109px;
    @include forum-font($color: $gold);
    font-size: $font-form;
    line-height: $fontline-form;
    letter-spacing: -.0;
    text-transform: uppercase;
}

.fieldset-title {
    float: left;
    width: 100%;
    margin: 0 0 15px;
    padding-bottom: 5px;
    @include forum-font($color: $gold);
    font-size: $font-smaller;
    line-height: 20px;
    letter-spacing: .0em;
    border-bottom: 2px solid $red-line;
    text-transform: capitalize;
}

.overview-title {
    margin: 0 0 2px;
    @include roboto-font($color: #272727, $size: $font-big, $line-height: $fontline-big, $letter-spacing: .0em);
    font-style: normal;
    font-weight: 500;
}

.overview-subtitle {
    margin: 0 0 10px;
    @include roboto-font($color: $red-line, $size: $font-small, $line-height: $fontline-small, $letter-spacing: .0);
    font-style: normal;
    font-weight: 500;
    opacity: .9;
}

.card-txt {
    @include roboto-font($color: #161615, $size: 12px, $line-height: 14px, $letter-spacing: .0);
    font-style: normal;

    &.cvv-comment {
        margin: 0;
    }
}