.section-title {
    margin: 0 0 25px;
    @include forum-font($color: $light);
    font-weight: 400;
    font-size: $font-section;
    line-height: $fontline-section;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.underline {
    position: relative;

    &:after {
        position: absolute;
        bottom: -28px;
        left: 0;
        right: 0;
        content: "";
        height: 3px;
        background-color: $red-bg;
    }
}

.txt-gold {
    color: $gold;
}

.txt-highlight {
    color: $highlight-gold;
}

.section-subtitle {
    margin: 0 0 75px;
    @include roboto-font($color: $light);
    font-weight: 300;
    font-size: $font-middle;
    line-height: $fontline-middle;
    letter-spacing: 2px;
}

.tour__title {
    margin: 25px 0 22px;
    @include forum-font($color: $dark);
    font-weight: 400;
    font-size: $font-big;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;

    &.underline::after {
        bottom: -12px;
        right: 140px;
        height: 2px;
        transition: right $transition-duration * 2;
    }    
}

.tour__subtitle {
    margin: 10px 0;
    @include roboto-font($color: $dark);
    font-weight: 100;
    font-size: $font-small;
    line-height: $fontline-small;
    letter-spacing: -.01px;

    &:last-of-type {
        margin: 0;
        font-size: 18px;
        line-height: 21px;
    }
}

.form__title {
    margin: 0;
    @include roboto-font($size: $font-middle, $line-height: $fontline-middle, $letter-spacing: 0);
    font-weight: 700;
}

.address-name {
    margin: 0 0 50px;
    @include roboto-font($size: $font-middle, $line-height: $fontline-middle, $letter-spacing: 0);
    font-style: normal;
    font-weight: 500;
}

.address-details {
    margin: 0 0 25px;
    @include roboto-font($size: $font-small, $line-height: $fontline-small, $letter-spacing: 0);
    font-style: normal;
    font-weight: 300;

    &:last-of-type {
        margin: 0;
    }
}

.form-title {
    margin: 0 0 109px;
    @include forum-font($color: $gold);
    font-weight: 400;
    font-size: $font-form;
    line-height: $fontline-form;
    letter-spacing: -.0;
    text-transform: uppercase;
}