@font-face {
    font-family: 'Forum';
    src: url("../assets/styles/sass/base/fonts/Forum-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto';
    src: url("../assets/styles/sass/base/fonts/Roboto-Regular.ttf") format('truetype');
    font-style: normal;
    font-weight: 400;
}